@using LogicCore;
@using Newtonsoft.Json;

@model TeamTrainingViewModel
@{
    ViewData["Title"] = Text.Add;
    Layout = "_Layout";
}
<script>
    var initial = @Html.Raw(JsonConvert.SerializeObject(this.Model));
</script>
<script src="~/js/Training.js"></script>

<h2>@Text.Training</h2>
@using (this.Html.BeginForm("Add", "Training", null, FormMethod.Post, true, new { id = "trainingForm"}))
{
    <input type="hidden" name="training" id="training" />
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    Name: <input data-bind="value: Name" />
                </div>
                <div class="form-group">
                    Date: <input data-bind="value: Date, date: Date" />
                </div>
            </div>
        </div>
        <div data-bind="foreach: Trainings" class="row">
            <div class="col-12 col-lg-6 col-xl-4">
                <div class="card">
                    <div class="card-header">
                        <select data-bind="
                            options: $root.Members,
                            optionsText: 'Value',
                            optionsValue: 'Key',
                            value: User" class="w-50"></select>

                        <button type="button" data-bind="click: $root.RemoveTraining" class="btn btn-danger btn-sm float-right">@Text.Remove</button>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <dl data-bind="foreach: Tasks">
                                <dt>
                                    Exercise: <select data-bind="
                                            options: $root.Exercise,
                                            optionsText: 'Value',
                                            optionsValue: 'Key',
                                            value: Exercise"></select>
                                </dt>
                                <dd>
                                    <div class="form-group">
                                        Repetition: <input data-bind="value: Repetition" class="w-50" />
                                    </div>
                                    <div class="form-group">
                                        Time: <input data-bind="value: Time" class="w-50" />
                                        <button type="button" data-bind="click: function() { $root.RemoveTask($data, $parent)}" class="btn btn-danger btn-sm float-right">@Text.Remove</button>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div>
                            <button type="button" data-bind="click: $root.AddTask" class="btn btn-primary btn-sm float-left">@Text.Add</button>
                            <button type="button" data-bind="click: $root.CloneTraining" class="btn btn-primary btn-sm float-right">@Text.Copy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button type="button" data-bind="click: AddTraining" class="btn btn-primary">@Text.Add</button>
            <button type="button" data-bind="click: Submit" class="btn btn-primary">@Text.Submit</button>
        </div>
    </div>
}