@using LogicCore;
@using Newtonsoft.Json;

@model TeamTrainingViewModel
@{
    ViewData["Title"] = Text.Add;
    Layout = "_Layout";
}
<script>
    var initial = @Html.Raw(JsonConvert.SerializeObject(this.Model));
    var exerciseUrl = "@Html.Raw(Url.Action("AddExercise", "Training"))";
</script>
<script src="~/js/Training.js"></script>

@using (this.Html.BeginForm("Save", "Training", null, FormMethod.Post, true, new { id = "trainingForm" }))
{
    <input type="hidden" name="teamTraining" id="teamTraining" />
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="float-left">@Text.Training</h2>
                @this.Html.ActionLink(Text.Back, "Open", "Team", new { id = this.Model.Team }, new { @class = "btn btn-primary float-right" })
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                @this.Html.ValidationSummary()
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="form-group">
                    @this.Html.LabelFor(m => m.Name)
                    <input data-bind="value: Name" id="Name" />
                </div>
                <div class="form-group">
                    @this.Html.LabelFor(m => m.Date)
                    <input data-bind="value: Date, date: Date" id="Date" />
                </div>
            </div>
            <div class="col-12 offset-lg-1 col-lg-5" style="height:70px">
                <div class="position-absolute w-100" style="padding-right:30px">
                    <div class="card m-1" style="z-index:100">
                        <div class="card-header">
                            @Text.AddExercise
                            <button type="button" data-bind="click: Open" class="exerciseToggle btn btn-primary float-right">+</button>
                            <button type="button" data-bind="click: Open" class="exerciseToggle btn btn-danger float-right" style="display:none">-</button>
                        </div>
                        <div class="exerciseToggle card-body" style="display:none">
                            <div class="form-group">
                                <label for="ExerciseName">@Text.Title</label>
                                <input data-bind="value: Exercise.Name" id="ExerciseName" />
                            </div>
                            <div class="form-group">
                                <label for="ExerciseDescription">@Text.Description</label>
                                <input data-bind="value: Exercise.Description" id="ExerciseDescription" />
                            </div>
                            <button type="button" data-bind="click: $root.AddExercise" class="btn btn-primary btn-sm float-right" id="exerciseAddButton">@Text.Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-bind="foreach: Trainings" class="row">
            <div class="col-12 col-lg-6 col-xl-4">
                <div class="card m-1">
                    <div class="card-header">
                        <select data-bind="
                        options: $root.Members,
                        optionsText: 'Value',
                        optionsValue: 'Key',
                        value: User" class="w-50"></select>

                        <button type="button" data-bind="click: $root.RemoveTraining" class="btn btn-danger btn-sm float-right">@Text.Remove</button>
                    </div>
                    <ul class="list-group list-group-flush" data-bind="foreach: Tasks">
                        <li class="list-group-item">
                            <label data-bind="uniqueFor: Exercise">@Text.Exercise</label>
                            <select data-bind="
                                    options: $root.Exercises,
                                    optionsText: 'Value',
                                    optionsValue: 'Key',
                                    value: Exercise,
                                    uniqueId: Exercise" class="m-1 w-50"></select>
                            <div class="form-group">
                                <label data-bind="uniqueFor: Repetition">@Text.Repetition</label>
                                <input data-bind="value: Repetition, uniqueId: Repetition" class="w-50" />
                            </div>
                            <div class="form-group">
                                <label data-bind="uniqueFor: Time">@Text.Time</label>
                                <input data-bind="value: Time, uniqueId: Time" class="w-50" />
                                <button type="button" data-bind="click: function() { $root.RemoveTask($data, $parent)}" class="btn btn-danger btn-sm float-right">@Text.RemoveTask</button>
                            </div>
                        </li>
                    </ul>

                    <div class="card-body">
                        <div>
                            <button type="button" data-bind="click: $root.AddTask" class="btn btn-primary btn-sm float-left">@Text.AddTask</button>
                            <button type="button" data-bind="click: $root.CloneTraining" class="btn btn-primary btn-sm float-right">@Text.Copy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container m-1">
                <button type="button" data-bind="click: Submit" class="btn btn-primary ml-1 float-right">@Text.Save</button>
                <button type="button" data-bind="click: AddTraining" class="btn btn-primary float-right">@Text.Add</button>
            </div>
        </div>
    </div>
}