@using LogicCore

@model List<TeamTraining>
@{
    ViewData["Title"] = Text.Trainings;
    Layout = "_Layout";
}

<h1>@Text.Trainings</h1>

<div class="container">
    @if (this.Model == null || this.Model.Count == 0)
    {
        <div class="container">
            <h3>
                @Text.IndividualNoTrainings
            </h3>
        </div>
    }
    else
    {
        @foreach (var teamTraining in this.Model)
        {
            <div class="card">
                <div class="card-header">
                    <div class="float-left">
                        <p>@string.Format(Text.TrainingNameTemplate, teamTraining.Name, teamTraining.Date.Value.ToString("dd/MM/yyyy"))</p>
                        <p>Treneris: @teamTraining.Team.Coach.FullName</p>
                    </div>
                    @Html.ActionLink(Text.Open, "Open", "Training", new { id = teamTraining.Id }, new { @class = "btn btn-primary float-right" })
                </div>
            </div>
        }
    }
</div>

