@using LogicCore
@model Result

@{
    ViewData["Title"] = Text.Create;
    Layout = "_Layout";
}

<h1>@Text.Create</h1>

<h4>@Text.Result</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateResult">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="AthleteId" type="hidden" value="@ViewData["AthleteId"]" />
            <input asp-for="CompetitionId" type="hidden" value="@ViewData["CompetitionId"]" />
            <div class="form-group">
                <label asp-for="Hours" class="control-label"></label>
                <input asp-for="Hours" class="form-control" />
                <span asp-validation-for="Hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Minutes" class="control-label"></label>
                <input asp-for="Minutes" class="form-control" />
                <span asp-validation-for="Minutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seconds" class="control-label"></label>
                <input asp-for="Seconds" class="form-control" />
                <span asp-validation-for="Seconds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Text.Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">@Text.Back</a>
</div>
