@using LogicCore
@model Competition

@{
    ViewData["Title"] = Text.Details;
    Layout = "_Layout";
    var userId = (string)ViewData["ActiveUserId"];
}

<h1>@Text.Details</h1>

<div class="clearfix">
    <div class="float-left">
        <h4>@Text.Competition</h4>
    </div>
    <div class="float-right">
        <a asp-action="CreateResult" asp-route-id="@this.Model.Id" class="float-right btn btn-primary">@Text.AddResult</a>
    </div>
</div>
<hr />
<div class="container">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Distance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Distance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>
</div>
<div>
    @if (Model.AuthorId == userId)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">@Text.Edit</a>
    }
    <a asp-action="Index" class="btn btn-primary ml-1">@Text.Back</a>
</div>

<table class="table mt-2">
    <thead>
        <tr>
            <th>
                @Text.Sportsmen
            </th>
            <th>
                @Text.Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Results.Any())
        {
            <tr>
                <td colspan="3">
                    @Text.NoResult
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model.Results)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Athlete.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @if (item.AthleteId == userId)
                        {
                            <a asp-action="EditResult" asp-route-id="@item.Id" class="btn btn-primary mb-1">@Text.Edit</a>
                        }
                        <a asp-action="DetailsResult" asp-route-id="@item.Id" class="btn btn-primary ml-1 mb-1">@Text.Open</a>
                        @if (item.AthleteId == userId)
                        {
                            <a asp-action="DeleteResult" asp-route-id="@item.Id" class="btn btn-primary ml-1 mb-1">@Text.Delete</a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
