@using Microsoft.AspNetCore.Identity
@using LogicCore

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav border-left border-dark">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        @{
            this.Html.RenderPartial("_Notifications");
        }
    </li>
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><strong>@string.Format(Text.Hello, UserManager.GetUserAsync(User).Result.FullName)</strong></a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">@Text.Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">@Text.Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">@Text.Login</a>
    </li>
}
</ul>
