@using LogicCore;
@model Exercise

@{
    ViewData["Title"] = Text.Delete;
    Layout = "_Layout";
}

<h1>@Text.Delete</h1>

<div>
    <h4>@Text.Exercise</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Text.Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary ml-1">@Text.Back</a>
    </form>
</div>
