@using LogicCore;

@model Team
@{
    ViewData["Title"] = Text.Team;
    Layout = "_Layout";
}

<div class="container">
    @using (Html.BeginForm("Create", "Team", null, FormMethod.Post, true, null))
    {
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <div class="card">
            @Html.LabelFor(m => m.Name)
            @Html.EditorFor(m => m.Name)
        </div>
        <div class="card">
            @Html.LabelFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description)
        </div>
        <input type="submit" class="btn btn-primary" value="@Text.Submit"/>
    }
</div>